body {
   background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif);
background-repeat: no-repeat;
background-size:cover ;
background-position: center;
font-family: 'Bowlby One SC', cursive;
font-size: .8em ;
}
a:hover{
    font-size: 1.5em;
    background-color:rgba(245, 221, 7, 0.904);
}
.modal-content{
    background-image:url(https://media.giphy.com/media/qz4S6gklkPA9W/giphy.gif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.style-card span {
    color: blanchedalmond;
}

.style-card{
    background-color: rgba(29, 29, 29, 0.315);
    border-color:  rgba(245, 221, 7, 0.904);
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.characters-modal{
    background-color: rgba(6, 3, 20, 0.5);
    display: inline-block;
    color: blanchedalmond;
    margin: 5px;
    
}